body {
  font-family:Arial, sans-serif;
  font-size:12px;
}
.family-tree * {
  margin: 0;
  padding: 0;
}
.family-tree { white-space:nowrap; }
.family-tree ul {
  padding-top: 5px;
  position: relative;
  display: table;
  margin: 0 auto;
  font-size:0;
}
.family-tree li {
  display:inline-block;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 40px 5px 0 5px;
  font-size: 12px;
  line-height: normal;
}
.family-tree .person {
  border: 1px solid #ccc;
  padding: 4px;
  text-decoration: none;
  color: #666;
  background-color:#fff;
  display: inline-block;
  min-width:50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position:relative;
  vertical-align:text-top;
  text-align:center;
  font-size:11px;
  line-height:1.5em;
  font-weight:bold;
}
.person.m {
  background: #c8e4fb;
  color: #000;
  border: 1px solid #94a0b4;
}
.person.f {
  background: #ffc0cb;
  color: #000;
  border: 1px solid #94a0b4;
}

.family-tree .h-relationship {
  display:inline-block;
}
.family-tree .h-relationship > span {
  border-bottom:2px solid #2980B9;
  display:block;
  text-align:center;
  font-size:10px;
}
.family-tree ul.c { padding-top: 40px; }
.family-tree ul.c::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #2980B9;
  width: 0; height: 40px;
}
.family-tree li::before, .family-tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #2980B9;
  width: 50%; height: 40px;
}
.family-tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #2980B9;
}
.family-tree li.adopted::after {
  border-left: 1px dashed #2980B9;
}

/*We need to remove left-right connectors from elements without any siblings*/
.family-tree li:only-child::after { display: none; }

/*Remove space from the top of single children
//.tree li:only-child{ padding-top: 0;}
*/

/*Remove left connector from first child and right connector from last child*/
.family-tree li:first-child::before, .family-tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.family-tree li:last-child::before{
  border-right: 1px solid #2980B9;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.family-tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/* fixes only child making the arrow straight */
.family-tree li:only-child::before
{
  right: auto; left: 50%;
  border-left: 1px solid #2980B9;
  border-right:none;
}

ul.notes li { line-height:1.5em; }
.seniority {
  display:block;
  font-size: 10px;
  color:#666;
}
.tree-detail span {
  display:block;
  font-weight:normal;
  font-size:0.9em;
}
.marriage {
  vertical-align:text-top;
  line-height:2em;
}
span.marriage::after{
  content: '&';
}
button {
  font-weight:bold;
  margin-bottom:20px;
}
em {
  text-decoration:underline;
  font-weight:bold;
}